$size1: 10px;
$size2: 12px;
$size3: 14px;

$var1: 100%;
$var2: 50%;

$color1: rgb(0,230,211);
$color2: rgba(0, 230, 211, 0.473);
$color3: #ffffff;
$color4: #241d1b;
$color5: rgb(0,0,0);
$color6: rgba(0,0,0,0.5);

